<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!-- Optional: Link shared styles if needed -->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="about-content">
        <p>This is the web console for creating and hosting your own websites using Google Cloud.</p>
        <p>We also help you do things like set up and manage domain names, backup your website, and more.</p>
        <p>Our mission is to eliminate dependency on proprietary webite creation and hosting services.</p>
        <p>You can pause or cancel anytime and keep your website, and manage it through the Google's Cloud Console.</p>
        <p>It costs $8 a month, and you can buy individual months, or you can subscribe.</p>
        <p>The code for this website is available <a href="https://github.com/webserversupplyco/webserversupplyco.com">here</a>.</p>
        <p></p>
        <p>Version: 1.0.0</p>
    </div>
</body>
</html>
